:root {
    --calculator: #171717;
    --screen: #171717;
    --btn-back: #404040;
    --opera-btn: #737373;
    --equal-btn: #67e8f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100%;
    
}

body {
    background-color: white;
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    width: auto;
    height: 100vh;
}

.calculator {
    width: 400px;
    position: absolute;
    font-size: 50px;
    height: 90%;
    top: 5%;
    border: 1px solid;
    box-shadow: 0px 10px 5px #57534e;
}

.screen {
    width: auto;
    height: 30%;
    background-color: var(--screen);
    padding: 10px 20px;
    text-align: right;
}

.btns-container {
    padding: 10px;
    font-size: 40px;
    width: auto;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    background-color: var(--btn-back);
}

button {
    background-color: var(--btn-back);
    color: white;
    border: none;
    font-size: 40px;
}

button:hover {
    background-color: var(--calculator);
}

