:root {
    --screen: #171717;
    --btn-back: #404040;
    --opera-btn: #737373;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height: 100%;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    padding: 10px;
    width: auto;
    height: 75vh;
    min-height: 500px;
}

.calculator {
    width: 400px;
    background-color: var(--screen);
    border: none;
    box-shadow: 0px 10px 5px #57534e;
}

.screen {
    color: white;
    padding: 10px 20px;
    text-align: right;
    background-color: var(--screen);
    margin-top: 30px;
    margin-bottom: 10px;
}

.last {
    min-height: 32px;
    font-size: 20px;
}

.current {
    min-height: 64px;
    font-size: 40px;
}

.btns-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: var(--btn-back);
}

button {
    background-color: var(--btn-back);
    color: white;
    border: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    background-color: var(--screen);
}

